body{
	background-color: blue;
}
#canvas-container{
  // margin: 0px auto;
  width: 100%
  text-align: center;
}

canvas{
	display: inline;
}

#header-container{
  text-align: center;
  font-size: 75px;
	color: blue;
}
